.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    margin: auto;
    backdrop-filter: blur(10px);
}

.login-container h1 {
    color: #333;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

.login-container input {
    margin: 10px 0;
    padding: 14px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button:hover {
    background-color: #007bb5;
    transform: translateY(-2px);
}

.social-button {
    padding: 10px;
    background-color: #e7e7e7;
    color: black;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
    font-size: 14px;
    transition: background-color 0.3s;
}

.social-button:hover {
    background-color: #d7d7d7;
}

.register-link {
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

.register-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
    margin-top: 10px;
}
