/* General Container */
.profile-edit-container {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Header Section */
.profile-edit-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center; /* Center horizontally */
}

.profile-edit-info {
    width: 100%;
}

/* Profile Photo */
.profile-photo {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.preview-photo{
    max-width: 300px;
    max-height: 300px;
}

.edit-photo-input {
    height: 25px;
}

/* Input Containers */
.photo-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}

.name-container {
    display: flex;
    gap: 10px; /* Ruimte tussen de inputvelden */
    width: 100%; /* Zorgt ervoor dat de container zich over de breedte van de pagina uitstrekt */
}

.edit-input,
.edit-textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Buttons */
.edit-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.save-button,
.cancel-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remove-photo-button {
    background: #a80000;
    color: white;
}

.remove-photo-button:hover {
    background: #800000;
}

/* Responsive Design */
@media (max-width: 900px) {
    .profile-edit-header {
        flex-direction: column;
        justify-content: center;
    }

    .photo-container {
        flex-direction: column;
        max-width: 150px;
    }

    .edit-buttons {
        flex-direction: column;
        width: 100%;
    }

    .save-button,
    .cancel-button,
    .remove-photo-button {
        width: 100%;
    }
}
