.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px 30px;
    width: 100%;
    max-width: 400px;
    margin: auto; 
    backdrop-filter: blur(10px);
}

.register-container input {
    margin: 5px 0;
    padding: 14px;
    width: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.name-inputs {
    display: flex;               /* Use flexbox to align inputs side by side */
    justify-content: space-between; /* Add space between the inputs */
}
  
.name-inputs input {
    flex: 1;                    /* Allow inputs to grow equally */
    margin-right: 10px;        /* Add some space between the inputs */
    max-width: 150px;
}
  
.name-inputs input:last-child {
    margin-right: 0;           /* Remove margin from the last input */
}

.error {
    color: red;
    margin-top: 10px;
}

.social-login {
    margin-top: 20px;
}

.social-button {
    padding: 10px;
    background-color: #db4437;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.social-button:hover {
    background-color: #c33d2e;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
}

.or {
    padding: 0 10px;
    color: #666;
}

.register-link {
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.register-link:hover {
    text-decoration: underline;
}
